@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Shadows+Into+Light&display=swap");

@media (max-width: 779px) {
  input {
    width: 320px;
    height: 40px;
  }
}

@media (min-width: 780px) {
  input {
    width: 500px;
    height: 50px;
  }
}
input {
  font-size: 20px;
  margin: 0 auto;
  display: block;
  outline: none;
  border-radius: 5px;
  border: transparent;
}

body {
  background-image: url(https://cdn.pixabay.com/photo/2017/07/22/08/49/cute-2528119_960_720.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 780px) {
  .title {
    font-size: 40px;
  }
}

@media (min-width: 780px) {
  .title {
    font-size: 100px;
  }
}

.title {
  margin: 0;
  color: blueviolet;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px;
  font-family: "Shadows Into Light";
  animation: bounce 1s;
}

.js-title {
  transform: scale(0.8);
  transition: transform 1000ms ease 500ms;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.photo-card {
  width: 100%;
  height: 100%;
  transition: box-shadow 500ms linear, transform 500ms linear;
}

.photo-card:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 4px rgb(24, 22, 19);
  cursor: pointer;
}

.stats {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style: none;
  margin-right: 30px;
  margin-bottom: 20px;
}

.is-hiden {
  opacity: 0;
}

@media (max-width: 780px) {
  .btn {
    width: 80px;
    height: 20px;
  }
}

.btn {
  width: 120px;
  height: 30px;
  background-color: blueviolet;
  color: white;
  box-shadow: 2px 2px 2px;
  cursor: pointer;
  display: block;
  margin: auto;
}

.btn:hover {
  transform: scale(1.2);
  transition: transform 500ms linear;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
